*{
   
    color:#2D4356;
}
body{
    background-color:#435B66;
    justify-content: center;
    padding: 100px;
   
}
.container{
     background-color:#A76F6F;
     padding: 20px;
     width: 540px;
     margin: auto;
     text-align: center;
}
.recipelist{
    width: 500px;
    height: 1000px;
    background-color:#A76F6F ;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding:20px;

}
#ingredients{
    text-align: left;
    list-style-type: square;
}
list{
    text-decoration: none;
    list-style-type: none;
}

ul{
    text-decoration: none;
    list-style-type: none;
} 
img {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20%;
  }